[submodule "EgePhysics"]
	path = EgePhysics
	url = https://github.com/Eracage/EgePhysics.git
[submodule "EgeMath"]
	path = EgeMath
	url = https://github.com/Eracage/EgeMath.git
[submodule "Ege2D"]
	path = Ege2D
	url = https://github.com/Eracage/Ege2D.git
